
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #cfcfcf;
    background-image: url('../assets/img/fondMainMenu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Franklin Gothic Medium';
}
.flex-row{
  display : flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-column{
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#menuGauche{
    position: absolute; 
    top: 20%;
    left: 5%;
    width: 30%;
    min-width: 250px;
    height: 60%;
    background-color: #fcfcfcee;
    border: 3px solid #000000;
    border-radius: 30px;
    padding-bottom: 10px;
}
#listeBtnPrincipaux{
    height: 100%;
    justify-content: space-evenly;
}
h1{
    text-align: center;
    font-size: 38px;
}
.btnMenuPrincipale{
    width: 90%;
    height: min-content;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 15px;
}
.btnMenuPrincipale:hover{
    background-color: #dbdbdb;
    color: #000000;
    cursor: pointer;
}

/* Menu du milieu */
#menuMilieu{
    position: absolute; 
    top: 20%;
    left: 40%;
    width: 30%;
    min-width: 450px;
    height: 60%;
    background-color: #fcfcfcee;
    border: 3px solid #000000;
    border-radius: 30px;
    padding-bottom: 10px;
}
.cachee{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    top: -9999px; /* fais dégager de l'écran */
}
.apparition {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    animation: apparitionMenuJouer 0.5s ease-in-out forwards;
}
@keyframes apparitionMenuJouer {
    0% {
        transform: translate(-75%, 5%) scale(0);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}
.disparition {
    animation: disparitionMenuJouer 0.5s ease-in-out forwards;
}
@keyframes disparitionMenuJouer {
    0% {
        transform: translate(0, 0) scale(1);
    }
    100% {
        transform: translate(-75%, 5%) scale(0);
    }
}
/*  Animations du choix du niveau  */
h2{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
#divContainerNiveaux{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
#divNiveaux{
    width: 1000px;
    position: absolute;
    left: 35%;
    bottom: 60px;
    text-align: center;
    font-size: 30px;
    justify-content: space-between;
}
.from1To2{
    animation: from1To2 0.5s ease-in-out forwards;
}
@keyframes from1To2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-45%);
    }
}
.from2To3{
    animation: from2To3 0.5s ease-in-out forwards;
}
@keyframes from2To3 {
    0% {
        transform: translateX(-45%);
    }
    100% {
        transform: translateX(-89%);
    }
}
.from3To2{
    animation: from3To2 0.5s ease-in-out forwards;
}
@keyframes from3To2 {
    0% {
        transform: translateX(-89%);
    }
    100% {
        transform: translateX(-45%);
    }
}
.from2To1{
    animation: from2To1 0.5s ease-in-out forwards;
}
@keyframes from2To1 {
    0% {
        transform: translateX(-45%);
    }
    100% {
        transform: translateX(0);
    }
}
.fleche{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    bottom: 55px;
    width: min-content;
    height: min-content;
    background-color: #ffffff00;
    border: none;
    font-size: 30px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    img{
        width: 30px;
        height: 30px;
    }
}
.fleche:hover{
    background-color: #d3d3d3;
    cursor: pointer;
}
#flecheGauche{
    left: 10px;
    img{
        transform: translateX(-2px);
    }
}
#flecheDroite{
    right: 10px;
    img{
        transform: translateX(+2px);
    }
}
.btnBasMenuMilieu{
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: 90%;
    height: min-content;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 15px;
}
.btnBasMenuMilieu:hover{
    background-color: #dbdbdb;
    color: #000000;
    cursor: pointer;
}
#divImagesNiveaux{
    width: 1350px;
    position: absolute;
    left: 35%;
    bottom: 60px;
    text-align: center;
    font-size: 30px;
    justify-content: space-between;
    gap: 200px;
    img{
        width: 400px;
        height: auto;
        border-radius: 15px;
        border: 2px solid #000000;
        transform: translate(-32.5%, -20%);
    }
}
#divContainerSauvegarder{
    width: 100%;
    height: 100%;
}
#divSauvegardes{
    gap: 20px;
}
.divEmplacementSauvegarde{
    width: 80%;
    height: min-content;
    padding: 10px;
    font-size: 25px;
    left: 10%;
    border: 2px dashed #000000;
    border-radius: 15px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.divEmplacementSauvegarde:hover{
    background-color: #008cff3a;
    transform: scale(1.025);
    cursor: pointer;
}
.sauvegardeSelectionnee{
    background-color: #008cff3a;
    border: 2px dashed #008cff;
    transform: scale(1.05);
}
.disabled{
    border: 2px solid grey;
    pointer-events: none;
}
.emplacementSauvegarde{
    /*position: relative;*/
    width: 100%;
    height: min-content;
}
span.poubelle{
    position: absolute;
    right: 5px;
    top: -22px;
    transform: translate(30%, -30%);
}
.posRelative{
    position: relative;
    width: 100%;
    height: 0;
}