body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.imgArbreTechno{
    width: 60px;
    height: 60px;
}
.noeud{
    width: min-content;
    height: min-content;
    z-index: 10;
}
canvas{
    background: #cfcfcf;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* pour que le canvas soit derrière les noeuds */
}

/* positionnement des noeuds */
#centre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#vitesseAttaque{
    position: absolute;
    top: 65%;
    left: 40%;
    transform: translate(-50%, -50%);
}
#degats{
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
}
#goldsBonusDepart{
    position: absolute;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);
}
#lvlUpTours{
    position: absolute;
    top: 65%;
    left: 60%;
    transform: translate(-50%, -50%);
}
#critRate{
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
}
#critDamage{
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.cachee{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    top: -9999px; /* fais dégager de l'écran */
}
.deblocage{
    pointer-events: auto;
    opacity: 1;
    animation: deblocage 0.5s ease;
}
@keyframes deblocage {
    0% {
        visibility: visible;
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
.apparition {
    pointer-events: auto;
    opacity: 1;
    animation: apparition 0.5s ease;
}
@keyframes apparition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#divInfoNoeud{
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 80px;
    border-radius: 20px;
    background-color: #fcfcfc;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* pour que les clics passent à travers */
    z-index: 11; /* pour que le divInfoNoeud soit au-dessus des noeuds */
}
#divRetourMenuPrincipale{
    position: absolute;
    top: 10px;
    left: 10px;
    width: min-content;
    height: min-content;
    padding: 10px;
    border-radius: 20px;
    background-color: #fcfcfc;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto; /* pour que les clics soient captés */
    img{
        width: 30px;
        height: 30px;
    }
}
#divMonaies{
    position: absolute;
    top: 10px;
    right: 10px;
    width: min-content;
    height: min-content;
    padding: 10px;
    border-radius: 20px;
    background-color: #fcfcfc;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto; /* pour que les clics soient captés */
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#divTriangles, #divRonds, #divHexagones{
    margin: 3px;
    font-size: 20px;
    img{
        margin-left: 5px;
        width: 30px;
        height: 30px;
    }
}