body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.imgArbreTechno{
    width: 50px;
    height: 50px;
}
.noeud{
    width: min-content;
    height: min-content;
    z-index: 10;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9; /* pour que le canvas soit derrière les noeuds */
}

/* positionnement des noeuds */
#centre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#vitesseAttaque{
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
}
#degats{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
}
#orDeDepart{
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
}
#lvlUpTours{
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
}
#critRate{
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50%, -50%);
}
#critDamage{
    position: absolute;
    top: 25%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.cachee{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    top: -9999px; /* fais dégager de l'écran */
}
.deblocage{
    pointer-events: auto;
    opacity: 1;
    animation: deblocage 0.5s ease;
}
@keyframes deblocage {
    0% {
        visibility: visible;
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
.apparition {
    pointer-events: auto;
    opacity: 1;
    animation: apparition 0.5s ease;
}
@keyframes apparition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#divInfoNoeud{
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 80px;
    border: 2px solid rgb(0, 57, 133);
    border-radius: 20px;
    background-color: rgba(216, 233, 255, 0.863);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* pour que les clics passent à travers */

}